*
{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.6;
    background-color: white;
    
}

header{
    background-color: black;
    color:white;
    padding: 20px;
    text-align: center;
}
nav a{
    text-decoration: none;
     font-weight: bold;
     margin:0 15px;
}

nav a:hover{
    color: aqua;
}

 #about img {
    width: 150px;
    height: 150px;
    object-fit: cover;
   border-radius: 50%;
    border: 3px solid blue;
    margin:20px 20px;
 }
  #about div{
    margin-left: 20px;
  }
  .project
  {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150%;
  }

   .project-card {
     background: white;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     transition: transform 0.2s;
    
   }